<widget id="A123456789"  version="0.0.1">
    <name>SecVerifyAPICloudDemo</name>
    <description>
        SecVerifyPlus模块开发示例应用.
    </description>
    <author email="pangjj@mob.com" href="https://www.mob.com">
        JunJiePange
    </author>
    <feature name="mobSecVerifyPlus">
        <param name="mobSecVerifyAppKey" value="3276d3e413040" />
        <param name="mobSecVerifyAppSecret" value="4280a3a6df667cfce37528dec03fd9c3" />
    </feature>
    
    <content src="index.html" />
    <preference name="debug" value="true"/>
    <access origin="*" />
    
    <preference name="statusBarAppearance" value="true"/>
    
    <permission name="readPhoneState" />

    <permission name="camera" />

    <permission name="record" />

    <permission name="location" />

    <permission name="fileSystem" />

    <permission name="internet" />

    <permission name="bootCompleted" />

    <permission name="hardware" />
</widget>
