<widget id="A123456789"  version="0.0.1">
    <name>SecVerifyAPICloudDemo</name>
    <description>
        SecVerifyPlus模块开发示例应用.
    </description>
    <author email="pangjj@mob.com" href="https://www.mob.com">
        JunJiePange
    </author>
    <feature name="mobSecVerifyPlus">
        <param name="SecVerifyAppKey" value="2c574691c6986" />
        <param name="SecVerifyAppSecret" value="4b5cd595eb07b5cf17bb269f7a51391d" />
        <!-- 可选配置,默认 0,支持所有运营商。-->
        <!-- 0:移动 + 联通 + 电信，1:移动，2:联通，3:移动 + 联通，4:电信，5:移动 + 电信，6:联通 + 电信-->
        <param name="SecVerifyOperator" value="0" />
    </feature>
    
    <content src="index.html" />
    <preference name="debug" value="true"/>
    <access origin="*" />
    
    <preference name="statusBarAppearance" value="true"/>
    
    <permission name="readPhoneState" />

    <permission name="camera" />

    <permission name="record" />

    <permission name="location" />

    <permission name="fileSystem" />

    <permission name="internet" />

    <permission name="bootCompleted" />

    <permission name="hardware" />
</widget>
